html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#header {
	padding: 20px 50px;
	background: #2980b9;
	height: 100px;
	box-shadow: 0 0 3px rgba(0,0,0,15);
}
.content-wrapper {
	min-height:100%;
	position: relative;
}
.before-footer {
	padding-bottom: 100px;
}
footer{

  	background: #EEE8CD;
	width:100%;
	height:60px;
	padding: 20px;
	position:absolute;
	bottom:20px;
	left:0;
	box-shadow: 0 0 3px rgba(0,0,0,15);
}
.panel-default {
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
}

.row {
	margin-right: 0px; 
	margin-left: 0px; 
}

.btn-header {
	margin: 10px 10px;
}

.hidden {
	display: none;
}

h2 {
	margin: 10px 0px;
}

.panel-heading {
	font-size: 24px;
}
.alert {
	margin: 20px 140px 0px;
}
.test-right {
	text-align: right;
}
