<web-app
	version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>ncCityCon</display-name>
    <welcome-file-list>
   		<welcome-file>default</welcome-file>
  	</welcome-file-list>
  	<error-page>
  		<error-code>404</error-code>
  		<location>/jsp/errors/notFound.jsp</location>
  	</error-page>

    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>com.citycon.controllers.servlets.RootServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/default</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SuggestionServlet</servlet-name>
        <servlet-class>com.citycon.controllers.servlets.SuggestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuggestionServlet</servlet-name>
        <url-pattern>/suggestions</url-pattern>
    </servlet-mapping>


    <!-- Security servlets -->
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.SignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



	<!-- Users branch -->
    <servlet>
    	<servlet-name>UserListServlet</servlet-name>
    	<servlet-class>com.citycon.controllers.servlets.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UserListServlet</servlet-name>
    	<url-pattern>/users</url-pattern>
    </servlet-mapping>

     <servlet>
    	<servlet-name>UserEditServlet</servlet-name>
    	<servlet-class>com.citycon.controllers.servlets.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>UserEditServlet</servlet-name>
    	<url-pattern>/user</url-pattern>
    </servlet-mapping>



	<!-- Cities branch -->
	<servlet>
		<servlet-name>CityListServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.CityListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityListServlet</servlet-name>
		<url-pattern>/cities</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CityEditServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.CityEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityEditServlet</servlet-name>
		<url-pattern>/city</url-pattern>
	</servlet-mapping>

	<!-- Routers branch -->
	<servlet>
		<servlet-name>RouterListServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.RouterListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RouterListServlet</servlet-name>
		<url-pattern>/routers</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RouterEditServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.RouterEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RouterEditServlet</servlet-name>
		<url-pattern>/router</url-pattern>
	</servlet-mapping>

	<!-- Connections branch -->
	<servlet>
		<servlet-name>ConnectionListServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.ConnectionListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectionListServlet</servlet-name>
		<url-pattern>/connections</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConnectionEditServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.ConnectionEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectionEditServlet</servlet-name>
		<url-pattern>/connection</url-pattern>
	</servlet-mapping>

	<!-- Statistic branch -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/statistic/*</url-pattern>
	</servlet-mapping>

	<!-- Statistic branch -->
	<servlet>
		<servlet-name>EmailConfirmationServlet</servlet-name>
		<servlet-class>com.citycon.controllers.servlets.EmailConfirmationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailConfirmationServlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>


    <!-- Filters -->
    <filter>
    	<filter-name>LoginFilter</filter-name>
    	<filter-class>com.citycon.controllers.filters.LoginFilter</filter-class>
    </filter>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/jsp/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/users</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/user</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/cities</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/city</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/routers</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/router</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/connections</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
 		<url-pattern>/connection</url-pattern>
 	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/statistic/*</url-pattern>
	</filter-mapping>

	<!-- User branch filters -->
	 	<filter>
	    	<filter-name>UserEditFilter</filter-name>
	    	<filter-class>com.citycon.controllers.filters.UserEditFilter</filter-class>
	    </filter>
	 	<filter-mapping>
	 		<filter-name>UserEditFilter</filter-name>
	 		<url-pattern>/user</url-pattern>
			<url-pattern>/statistic/merge</url-pattern>
	 	</filter-mapping>

	 	<filter>
	    	<filter-name>UserListFilter</filter-name>
	    	<filter-class>com.citycon.controllers.filters.UserListFilter</filter-class>
	    </filter>
	 	<filter-mapping>
	 		<filter-name>UserListFilter</filter-name>
	 		<url-pattern>/users</url-pattern>
	 	</filter-mapping>

	 <!-- System units branch filters -->
	 	<filter>
	    	<filter-name>SystemEditFilter</filter-name>
	    	<filter-class>com.citycon.controllers.filters.SystemEditFilter</filter-class>
	    </filter>
	 	<filter-mapping>
	 		<filter-name>SystemEditFilter</filter-name>
	 		<url-pattern>/city</url-pattern>
	 	</filter-mapping>
	 	<filter-mapping>
	 		<filter-name>SystemEditFilter</filter-name>
	 		<url-pattern>/router</url-pattern>
	 	</filter-mapping>
	 	<filter-mapping>
	 		<filter-name>SystemEditFilter</filter-name>
	 		<url-pattern>/connection</url-pattern>
	 	</filter-mapping>
	 	
	 	<filter>
	    	<filter-name>SystemListFilter</filter-name>
	    	<filter-class>com.citycon.controllers.filters.SystemListFilter</filter-class>
	    </filter>
	 	<filter-mapping>
	 		<filter-name>SystemListFilter</filter-name>
	 		<url-pattern>/cities</url-pattern>
	 	</filter-mapping>
	 	<filter-mapping>
	 		<filter-name>SystemListFilter</filter-name>
	 		<url-pattern>/routers</url-pattern>
	 	</filter-mapping>
	 	<filter-mapping>
	 		<filter-name>SystemListFilter</filter-name>
	 		<url-pattern>/connections</url-pattern>
	 	</filter-mapping>

	 	<!-- Listeners -->
	 	<listener>
	 		<listener-class>com.citycon.controllers.listeners.SessionHolder</listener-class>
	 	</listener>
	 	
</web-app>
