.panel-heading {
    font-size: 24px;
}
.panel {
    margin: 20px 50px 0px;
}
#itemsPerPageSelect {
    width: 80px;
}
.alert {
    margin: 20px 80px 0px;
}
.col-sm-2 {
    margin-right: 10px;
    margin-left: 0px;
}